.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px dashed #0d6efd;
    animation: rotate 1s infinite linear;
    position: absolute;
    transform: translate(-50%, -50%);
}
